@model MvcTemplate.Web.ViewModels.Jokes.JokeCategoryViewModel
@{
    ViewBag.Title = "Jokes";
}
@if (User.IsInRole("Administrator") == false)
{
<div>    
    <h4>Joke category: @Model.Name</h4>
</div>
}
else
{
<div>
    @Html.ActionLink("Permanent delete of category + jokes in it", "DeleteCategory", "Jokes", new { id = Model.Id }, new { @class = "btn btn-danger pull-right", role = "button" })
    <h4>Joke category: @Model.Name</h4>
</div>
}
<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4">
            <a href="@joke.Url">
                @Html.Raw(joke.Content.Replace("\n", "<br />"))
            </a>
        </div>
    }
</div>
