@model MvcTemplate.Web.Areas.Administration.ViewModels.Users.UserViewModel
@{
    ViewBag.Title = "ById";
}
<div>
    @if (Model.Role != "Administrator")
    {
        <div class="pull-right">
            @Html.ActionLink("Edit profile", "EditUser", "Users", new { id = Model.Id }, new { @class = "btn btn-warning", role = "button" })
            @Html.ActionLink("Make this user an administrator", "MakeAdministrator", "Users", new { userId = Model.Id }, new { @class = "btn btn-warning", role = "button" })
        </div>
    }
    <h4>User:</h4>
</div>
<div>Username: @Model.UserName</div>
<div>Email: @Model.Email</div>
<div>Role: @Model.Role</div>

